<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %} | Neo BookShop</title>
    </head>

    <body>
        <!-- Navigation Bar -->
        <nav class="py-6 px-6 flex flex-wrap justify-between items-center bg-gray-200 border-b border-gray-200 rounded-lg">
            <a href="/" class="text-xl font-semibold text-gray-800 transform hover:scale-105 transition-all duration-300">
                Neo BookShop
            </a>
            <div class="space-x-6">
                <a href="{% url 'item:new' %}" class="px-6 py-3 bg-blue-800 text-white rounded-lg hover:bg-blue-700">Add Item</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'conversation:inbox' %}" class="px-6 py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-700">Inbox</a>
                    <a href="{% url 'core:logout' %}" class="px-6 py-3 bg-red-500 text-white rounded-lg hover:bg-red-700">Logout</a>
                    {% if request.user.is_superuser %}
                        <a href="/admin/" class="px-6 py-3 bg-green-500 text-white rounded-lg hover:bg-green-700">Admin</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'core:signup' %}" class="px-6 py-3 bg-red-600 text-white rounded-lg hover:bg-red-700">Sign Up</a>
                    <a href="{% url 'core:login' %}" class="px-6 py-3 bg-green-600 text-white rounded-lg hover:bg-green-700">Log In</a>
                {% endif %}
            </div>
        </nav>

        <!-- Marquee Section -->
        <div class="overflow-hidden bg-[#ed6834] py-3 px-6 rounded-lg">
            <div class="whitespace-nowrap animate-marquee font-bold text-white text-xl">
                Sale! Sale!! 20% off on all Products! Starts from 21st November to 7th December!!!
            </div>
        </div>

        <!-- Animation CSS -->
        <style>
            @keyframes marquee {
                from {
                    transform: translateX(100%);
                }
                to {
                    transform: translateX(-100%);
                }
            }
            .animate-marquee {
                display: inline-block;
                animation: marquee 15s linear infinite;
            }
        </style>

        <!-- Main Content -->
        <div class="px-6 py-6">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Footer -->
        <footer class="py-6 px-6 flex flex-col md:flex-row justify-between bg-[#01223f] text-white">
            <div class="w-full md:w-2/3 pr-10 mb-6 md:mb-0">
                <h2 class="mb-5 font-semibold text-3xl">About</h2>
                <p class="text-lg text-gray-400">Neo BookShop is an online BookStore marketplace built with Django.</p>
            </div>
            <div class="w-full md:w-1/3">
                <h3 class="mb-5 font-semibold text-3xl">Menu</h3>
                <ul class="space-y-2">
                    <li><a href="{% url 'core:index' %}" class="text-lg text-blue-500 hover:text-blue-200">Home</a></li>
                    <li><a href="{% url 'core:contact' %}" class="text-lg text-blue-500 hover:text-blue-200">Contact</a></li>
                    <li><a href="#" class="text-lg text-blue-500 hover:text-blue-200">Privacy Policy</a></li>
                    <li><a href="#" class="text-lg text-blue-500 hover:text-blue-200">Terms of Use</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
